<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet"  type="text/css" href="css/index.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
<div class="hero pd-none" id="section_1">
    <header>
        <div class="wrapper">
            <a href="#"><img src="img/logo_uet.png" class="logo" alt="" title="" /></a>
            <nav>
                <ul>
                    <li><a href="#section_1">Home</a></li>
                    <li><a href="#section_2">About</a></li>
                    <li><a href="#section_3">Course</a></li>
                </ul>
                <a href="/login_form" class="login_btn">Login</a>
            </nav>
        </div>
    </header><!--  end header section  -->
    <section class="caption">
        <h2 class="caption">Welcome My Class Survey</h2>
    </section>
</div>
<div class="about" id="section_2">
    <div class="banner"><img src="img/banner.png" alt="" class="banner"></div>
    <div class="event">
        <h3>Sự kiện nổi bật</h3>
        
    </div>
</div>
<div class="">

</div>




















<!-- Bootstrap Js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- JQuery Poper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script>
    var imageUrls = ["img/demo1.jpg","img/demo2.jpg","img/demo3.jpg"];
    var currentImage = 0;
    function changeBg() {
        $('#section_1').css('background', 'url(' + imageUrls[currentImage] + ')');
        $('#section_1').css('background-size', 'cover');
        $('#section_1').css('background-repeat', 'no-repeat');
        ++currentImage;
        if(currentImage == imageUrls.length) {
            currentImage = 0;
        }
    }
    $(document).ready(function(){
        setInterval(changeBg, 5000);
    })
</script>
</body>
</html>