<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('Contents/CSS/LoginForm.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="loginbox">
        <img src="{{asset('Contents/Images/usericon.png' )}}" alt="Symfony!" class="avatar">
        <h1>Login Here</h1>
        <form method="get" action="login">
            <p>Username</p>
            <input type="text" name="username" id="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" id="password" placeholder="Enter Password">
            <input type="button" name="" value="Login" id="loginBtn"><br>
            <a href="#">Lost your password?</a>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('Scripts/Utils.js') }}"></script>
    <script src="{{ asset('Scripts/LoginForm.js') }}"></script>
{% endblock %}
</body>
</html>
