<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link REL="SHORTCUT ICON" HREF="{{ asset('img/logo_uet.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/LoginForm.css')}}">
</head>
<body>
{% block body %}
<header>
    <div class="wrapper">
        <a href="#"><img src="{{ asset('img/logo_uet.png') }}" class="logo" alt="" title=""/></a>
    </div>
</header>
<div class="loginbox">
    <img src="{{ asset('img/logo_uet.png')}}" class="avatar">
    <h1>Log in</h1>
    <form method="post" action="/login">
        <p>Username</p>
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" name="" value="Login"><br>
        <a href="#">Lost your password?</a>
    </form>
</div>


{% endblock %}
</body>
</html>